.home {
    display: flex;
    flex-direction: row;
    background-color: #EBEBEB;
    height: 100vh;

}

/*  */










.main {
    width: 100%;

}

/***************** Nav Css ******************/

.nav {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    padding: 1.5rem;
    align-items: center;

}

.nav-options {
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    padding: 0.5rem 1.5rem;
}

.active {
    background-color: darkslategray;
    border-radius: 5px;
    color: #EBEBEB;
}

.nav span {
    font-weight: bold;
    color: limegreen;
}

/***************** end Nav Css ******************/


.border {
    border: 2px solid red;
}

.main-container {
    width: 99.5%;
    height: 87%;
    display: flex;
    flex-direction: row;
}

.items-menu {
    width: 70%;
    /* height: 95.5%; */
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    box-sizing: content-box;

}

.bill {
    margin: 1rem;
    width: 30%;
    background-color: #FFFFFF;
    height: 100%;

}

.bill-name {
    /* filter: drop-shadow(0px 4px 4px black); */
    width: 100%;
    height: 10vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #FB8700;
    display: flex;
    align-items: center;
    padding-left: 3rem;

}

.tablesMenu {
    height: 80%;
    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.add {
    background: white;
    height: 100px;
    position: relative;
    width: 20px;
}
.add:after {
    background: white;
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
}

.add:active{ 
    background: red;
}

.order-list {
    overflow-y: scroll;
    height: 73%;
}

.pay-section {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 85%;
    height: 15%;

    margin: auto;

    padding-top: 1rem;
    margin-top: 0.5rem;
    
    display: flex;
    flex-direction: column;

    border-top: 2px solid gray;
    border-radius: 5px;

    /* box-sizing: content-box; */
    
}

.total-section {
    font-size: 2rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    padding: 0 1rem;
}

.pay-button {
    padding: 0.5rem 8rem;
    /* width: 50%; */
    align-self: center;
    background-color: greenyellow;
    font-size: 2rem;
    border-radius: 30px;
}